<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head id="head-Id">
    <meta charset="UTF-8">
    <title>Make up Artist</title>
</head>
<body style="background-color:#ffffcc;">

<div align ="right">
    <a id="logout"></a>
</div>

<!--<div align="right">
    <a id="logout" style="color:green">
        Logout
    </a>
</div>-->

<input type="hidden" id="bookedAppointment" value="">
<div align="center">
    <h1 id="makeUp-title" style="color:#cc3300">Make up Artist</h1>

    <h2 id="booked-message" style="color:#669900">
        Result Message Content
    </h2>

    <h4 style="color:#993366">
    <table style="width: 250px;" border="1">
        <tr>
            <td style="color:#ff6600">Booked Date: </td><td th:text="${bookedAppointment.appointmentDate}"></td>
        </tr>
        <tr>
            <td style="color:#ff6600">Appointment Time: </td><td th:text="${bookedAppointment.appointmentTime}"></td>
        </tr>
        <tr>
            <td style="color:#ff6600">Appointment Type: </td><td th:text="${bookedAppointment.typeOfAppointment}"></td>
        </tr>
        <tr>
            <td style="color:#ff6600">Guest make-up? </td><td th:text="${bookedAppointment.guestMakeupRequired}"></td>
        </tr>
        <tr>
            <td style="color:#ff6600">Name: </td><td th:text="${bookedAppointment.customerName}"></td>
        </tr>
        <tr>
            <td style="color:#ff6600">Phone number: </td><td th:text="${bookedAppointment.phoneNumber}"></td>
        </tr>
        <tr>
            <td style="color:#ff6600">Number of guests: </td><td th:text="${bookedAppointment.numberOfGuests}"></td>
        </tr>
    </tr>
        <!--<td><a href="#" th:text="${message.title}">Title ...</a></td>
        <td th:text="${message.text}">Text ...</td>-->
    </tr>
    </table>

    </h4>

    <h3>
        <a id="home" style="color:green">
            Home
        </a>
    </h3>

    <footer id="footerId" style="color:pink">
        <p>Created by goes here</p>
    </footer>

</div>
</body>
</html>