<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
        var array;
        var todayDate;
        window.onload = function () {
            todayDate = document.getElementById('minDate').value;
            //document.getElementById('date').setAttribute("min",todayDate);
            array = document.getElementById('bookedDates').value;
        }

       //var array = ["2021-01-01", "2021-01-02", "2021-01-03"];

       $(function () {
        $('#date').datepicker({
            dateFormat: 'yy-mm-dd',
            beforeShowDay: function(date) {
            var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [array.indexOf(string) == -1]
        },
        minDate: todayDate,
        maxDate: '+1Y'
      });
    });

    function onGuestMakeChange(data) {
        if(data!=null && data.value=='Y') {
            for (i = 0; i < document.getElementsByName("numberOfGuests").length; i++) {
               document.getElementsByName("numberOfGuests")[i].disabled = '';
            }
        }else {
            for (i = 0; i < document.getElementsByName("numberOfGuests").length; i++) {
               document.getElementsByName("numberOfGuests")[i].disabled = 'disabled';
            }
        }
    }

    function validateForm() {
      var myForm = document.forms['booking-form'];
      if (myForm['typeOfAppointment'].value == "" || myForm['appointmentDate'].value == "" || myForm['appointmentTime'].value == ""
       || myForm['guestMakeupRequired'].value == "" ||myForm['customerName'].value == "" || myForm['phoneNumber'].value == "") {
        document.getElementById('error-message').innerHTML = "All fields are mandatory. Please enter all fields";
        return false;
      }
    }

</script>

<head id="head-Id">
    <meta charset="UTF-8">
    <title>Make up Artist</title>
</head>
<body style="background-color:#ffffcc;">

<div align ="right">
    <a id="logout"></a>
</div>

<div align="center">
    <h1 id="makeUp-title" style="color:#cc3300">Make up Artist</h1>
</div>

<div align="center">
    <h2 id="error-message" style="color:#ff0000">
        Result Message Content
    </h2>
</div>

<div align="center">
<form id="booking-form"
      name="booking-form"
      action= "book-appointment"
      onsubmit="return validateForm()"
      method="post" modelAttribute="${AttributeNames.BOOK_APPOINTMENT}">

    <input type="hidden" id="minDate" value="">
    <input type="hidden" id="bookedDates" value="">

    <h4 style="color:purple"> * Select the type of make-up: </h4>
    <input style="color:purple" type="radio" id="bridal" name="typeOfAppointment" value="Bridal" aria-selected="true" checked="checked">
    <label for="bridal"></label><br>
    <input type="radio" id="bridal-HD" name="typeOfAppointment" value="Bridal HD">
    <label for="bridal-HD"></label><br>
    <input type="radio" id="engagement" name="typeOfAppointment" value="Engagement">
    <label for="engagement"></label> <br> <br>

    <h4 style="color:purple"> * Select the Date</h4>

    <label for="date">Book your date</label>
    <input type="date" id="date" name="appointmentDate" class="form-control" placeholder="" required readonly min="">

    <h4 style="color:purple"> * Select Time</h4>
    <select class='form-control', type="time" name="appointmentTime" value="time">
        <option value="" disabled selected hidden>Start time</option>
        <option value="00:06:00">06:00am</option>
        <option value="00:07:00">07:00am</option>
        <option value="00:08:00">08:00am</option>
        <option value="00:09:00">09:00am</option>
        <option value="00:10:00">10:00am</option>
        <option value="00:11:00">11:00am</option>
        <option value="00:12:00">12:00pm</option>
        <option value="00:13:00">1:00pm</option>
        <option value="00:14:00">2:00pm</option>
        <option value="00:15:00">3:00pm</option>
        <option value="00:16:00">4:00pm</option>
        <option value="00:17:00">5:00pm</option>
        <option value="00:18:00">6:00pm</option>
    </select>

    <h4 style="color:purple"> * Guest make-up required? </h4>
    <input type="radio" id="guest-option-yes" name="guestMakeupRequired" value="Y" checked="checked" onchange="onGuestMakeChange(this)">
    <label for="guest-option-yes">Yes</label><br>
    <input type="radio" id="guest-option-no" name="guestMakeupRequired" value="N" onchange="onGuestMakeChange(this)">
    <label for="guest-option-no">No</label> <br> <br>

    <h4 style="color:purple"> * Please enter your full name: </h4>
    <label id="enter-name" for="name">Enter your full name </label>
    <input id="name" type="text" name="customerName" value=""/><br><br>

    <h4 style="color:purple"> * Please enter your phone number: </h4>
    <label for="phone">Enter your phone number:</label>
    <input type="text" id="phone" name="phoneNumber" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')" maxlength="10" value=""><br><br>

    <h4 style="color:purple"> * Please select the number of guests that require make-up</h4>

    <input type="radio" id="guest-number-1" name="numberOfGuests" value="1" aria-selected="true">
    <label for="guest-number-1">1</label><br>

    <input type="radio" id="guest-number-2" name="numberOfGuests" value="2">
    <label for="guest-number-2">2</label><br>

    <input type="radio" id="guest-number-3" name="numberOfGuests" value="3">
    <label for="guest-number-3">3</label><br>

    <input type="radio" id="guest-number-4" name="numberOfGuests" value="4">
    <label for="guest-number-4">4</label><br>

    <input type="radio" id="guest-number-5" name="numberOfGuests" value="5">
    <label for="guest-number-5">5</label> <br> <br>

    <h2><input type="submit" value="Submit" style="color:green"/></h2>

    <h4 align="center">
        <a id="reset-form" href="#" style="color:#339933" onclick="document.getElementById('booking-form').reset();">
        </a>
    </h4>

    <h4 align="center">
        <a id="back" style="color:#eb3434">
            Back
        </a>
    </h4>
</form>
</div>
<footer id="footerId">
    <p>Created by goes here</p>
</footer>
</body>
</html>