<!DOCTYPE html>
<html lang="en">

<script type="text/javascript">
function validateForm() {
var myForm = document.forms['register-form'];
if (myForm['userName'].value == "" || myForm['password'].value == "" || myForm['firstName'].value == ""
|| myForm['lastName'].value == "") {
document.getElementById('error-message').innerHTML = "All fields are mandatory";
return false;
}
}
</script>
<head id="head-Id">
    <meta charset="UTF-8">
    <title>Make up Artist</title>
</head>
<body style="background-color:#ffffcc;">
<div align="center">
    <h1 id="makeUp-title" style="color:#cc3300">Make up Artist</h1>

    <h2 id="error-message" style="color:#e60000"></h2>

    <form id="register-form"
          action= "play"
          onsubmit="return validateForm()"
          method="post">
        <label id="enter-firstName" for="firstName" value="abc" style="color:grey">Enter your first name </label>
        <input id="firstName" type="text" name="firstName"/><br><br>
        <label id="enter-lastName" for="lastName" value="abc" style="color:grey">Enter your last name </label>
        <input id="lastName" type="text" name="lastName"/><br><br>
        <label id="enter-userName" for="userName" value="abc" style="color:grey">Enter your user name </label>
        <input id="userName" type="text" name="userName" /><br><br>
        <label id="enter-password" for="password" value="123" style="color:grey" >Enter your password </label>
        <input id="password" type="password" name="password"/><br><br>
        <input type="submit" value="Submit" style="color:green"/>
    </form>

    <h4 align="center">
        <a id="back" style="color:#eb3434">
            Logout
        </a>
    </h4>

    <footer id="footerId" style="color:pink">
        <p>Created by goes here</p>
    </footer>

</div>
</body>
</html>