<!DOCTYPE html>
<html lang="en">
<head id="head-Id">
    <meta charset="UTF-8">
    <title>Make up Artist</title>
</head>
<body style="background-color:#ffffcc;">
<div align="center">
    <h1 id="makeUp-title" style="color:#cc3300">Make up Artist</h1>

    <h2 id="registered-message" style="color:#ff9966">
        Result Message Content
    </h2>

    <h3>
        <a id="login" style="color:green">
            login
        </a>
    </h3>

    <footer id="footerId" style="color:pink">
        <p>Created by rash</p>
    </footer>

</div>
</body>
</html>